@model IEnumerable<ProyectGarantia.Models.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>Lotes</h1>
<p>
    <a class="btn btn-success btn-sm" role="button" asp-action="Create">Crear Lote</a>
</p>

<div class="pb-3">
    <form asp-controller="Lote" asp-action="GenerarReporte" method="get">
        <h3>Reportes</h3>
        <div class="row">
            <div class="col">
                <label>Fecha Inicio</label>
                <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" aria-label="Reportes" aria-describedby="basic-addon2" name="fechaInicio">
            </div>
            <div class="col">
                <label>Fecha Fin</label>
                <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" aria-label="Reportes" aria-describedby="basic-addon2" name="fechaFin">
            </div>
            <div class="col">
                <label>Estado</label>
                <select class="form-select" name="estado">
                    <option selected value="Todos">Todos</option>
                    <option value="Enviado">Enviado</option>
                    <option value="EnCurso">En curso</option>
                    <option value="Recibido">Recibido</option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="Rechazado">Rechazado</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary mt-4" type="submit" name="formato" value="PDF">
                    Generar PDF
                </button>
                <button class="btn btn-outline-secondary mt-4" type="submit" name="formato" value="Excel">
                    Generar Excel
                </button>
            </div>
        </div>

    </form>
</div>

<table class="table table-hover table-bordered table-sm">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCorrelativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCreador)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
    {   
        foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCorrelativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @item.FechaCreacion.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCreador)
            </td>
                <td>
                        <a class="btn btn-primary btn-sm" role="button" onclick="confirmEnviar(@item.Id)">Enviar</a>
                        <a class="btn btn-warning btn-sm" role="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    
                    @Html.ActionLink("Ver Lote", "Details", "Lote", new { id= item.Id, page =1} , new {@class ="btn btn-info btn-sm"})
            
        </tr>
}
        }
    </tbody>
</table>

 @section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        function confirmEnviar(itemId) {
            Swal.fire({
                title: '¿Deseas enviar esto?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, enviarlo'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/Lote/Enviar/${itemId}`;
                }
            });
        }
    </script> 
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
            Swal.fire({
                title: 'Enviado correctamente',
                icon: 'success',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Aceptar'
            });
        </script>
    }
} 
 

