@model IEnumerable<ProyectGarantia.Models.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>informacionServicio</h1>

<p>
    <a class="btn btn-success btn-sm" role="button" asp-action="Create">Create New</a>
</p>

<div class="pb-3">
    <form asp-controller="Lote" asp-action="GenerarReporte" method="get">
        <h3>Reportes</h3>
        <div class="row">
            <div class="col">
                <label>Fecha Inicio</label>
                <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" aria-label="Reportes" aria-describedby="basic-addon2" name="fechaInicio">
            </div>
            <div class="col">
                <label>Fecha Fin</label>
                <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" aria-label="Reportes" aria-describedby="basic-addon2" name="fechaFin">
            </div>
            <div class="col">
                <label>Estado</label>
                <select class="form-select" name="estado">
                    <option selected value="Todos">Todos</option>
                    <option value="Enviado">Enviado</option>
                    <option value="EnCurso">En curso</option>
                    <option value="Recibido">Recibido</option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="Rechazado">Rechazado</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary mt-4" type="submit" name="formato" value="PDF">
                    Generar PDF
                </button>
                <button class="btn btn-outline-secondary mt-4" type="submit" name="formato" value="Excel">
                    Generar Excel
                </button>
            </div>
        </div>

    </form>
</div>

<table class="table table-hover table-bordered table-sm">
    <thead class="table-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCorrelativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCreador)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
    {   
        foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCorrelativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    @item.FechaCreacion.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCreador)
            </td>
                <td>
                    
                    @Html.ActionLink("Detalle", "Details", "Lote", new { id= item.Id, page =1} , new {@class ="btn btn-info btn-sm"})
                    <a class="btn btn-danger btn-sm" role="button" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        <button type="button" class="btn btn-success btn-sm btn-aprobar" data-id="@item.Id">
                            Aprobar Lote
                        </button>

                        <div class="modal fade" id="contrasenaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar Contraseña</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formAprobarLote" action="/Lote/AprobarLote" method="post">
                                            <input type="hidden" name="id" id="loteIdInput" />
                                            <input type="hidden" name="password" />
                                            <label for="password">Contraseña:</label>
                                            <input type="password" id="passwordInput" />
                                            <button type="submit" class="btn btn-primary">Aprobar Lote</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
        </tr>
}
        }
    </tbody>
</table>

@section scripts {
    <script>

        $(function () {
            $('.btn-aprobar').on('click', function () {
                var loteId = $(this).data("id");
                $('#loteIdInput').val(loteId);
                $.ajax({
                    url: '/Lote/AprobarLote?id=' + loteId + '&isAjax=true',

                    type: 'GET',
                    success: function (result) {
                        if (result.success) {

                            if (result.requirePassword) {
                                $('#contrasenaModal').modal('show');
                            } else {
                                alert("Aprobación exitosa");
                                window.location.href = result.redirectUrl;

                            }
                        } else {
                            alert("Error al aprobar el lote");
                        }
                    },
                    error: function (error) {
                        alert("Error al procesar la solicitud");
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#formAprobarLote').submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                console.log(formData);
                $.ajax({
                    type: 'GET',
                    url: '/Lote/VerificarContrasenaAdmin',
                    data: formData,
                    success: function (result) {
                        if (result) {
                            location.reload(true);
                            alert('Aprobación exitosa');
                        } else {
                            alert('No se encontró el usuario.');
                        }
                    },
                    error: function () {
                        alert('Error en la llamada AJAX.');
                    }
                });
            });
        });
    </script>

}
 

